/* Enhanced antialiasing for all headings on macOS */
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

.nav-logo {
  height: 28px !important;
}
